results
executable/*
!executable/readme.txt
!executable/offset/
executable/offset/offset.exe
executable/offset/*.poly
mkgmap-stranger/_intermediate*
mkgmap-stranger/_split
mkgmap-stranger/stranger/stranger.typ
navitel/maps
navitel/extracts
navitel/Log.txt
*.pbf
*.o5m
toftp.bat