results
executable/*
!executable/readme.txt
mkgmap-stranger/_intermediate
mkgmap-stranger/_split
mkgmap-stranger/stranger/stranger.typ
navitel/maps
navitel/extracts
navitel/Log.txt
*.pbf
*.o5m
toftp.bat